
body {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
  }

.a1 button {

    background-color:rgb(54, 130, 230);
    border:none;
       position:absolute;
       left:40%;
       top:319%;
       color:white;
       padding :14px 28px;
     text-align: center;
     text-decoration: none;
     font-size: 25px;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     }

     .b1 button {

        background-color: rgb(54, 130, 230);
        border:none;
           position:absolute;
           right:40%;
           top:319%;
           color:#f2f2f2;
           padding :14px 28px;
         text-align: center;
         text-decoration: none;
         font-size: 25px;
         font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         }
